# Фреймворк, сервер-ворвер и обработка форм
fastapi==0.115.12
uvicorn==0.34.0

# Валидация и DTO
pydantic==2.11.3
pydantic-settings==2.8.1

# Внешние запросы
# httpx==0.28.1

# Асинхронная работа с БД
asyncpg==0.30.0